<div class="m-5">
    {{#with main}}
    <main class="row">
        <section class="card col-5">
            {{> title data="My education:" big=true}}
            <ul>
                {{#each education}}
                <li>
                    {{name}}

                    {{#unless isEnd isEnd=true}} (Ще в процесі) {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
        <section class=" card col-5 m-2">
            {{> title data="My Certifikates:"}}
            <ul>
                {{#each certifikates}}
                <li>
                    {{name}} ({{id}})
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>